<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD with TestNG" thread-count="1" verbose="1" configfailurepolicy="continue">
  <test name="CucumberTestNG">
  	<classes>
  		<class name="com.qa.runner.RunnerClass"/>
  	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
